<!DOCTYPE html>
<html>
  <head>
    <title>Dinner Decider</title>
    <img src="/images/E-2.png" width = "200px" height = auto id="logo">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<%- partial('partials/navbar') -%>
    <h1>Dinner Decider</h1>
    <p>Welcome to the Dinner Decider!</p>
     <footer>
        
  <a href="https://www.instagram.com/thegreatimpasta/?hl=en" class="insta"> Created by: TheGreatImpasta  
      </footer>
  </body>

</html>
