<!DOCTYPE html>
<html>
<head>
	<title><%= blocks.title %></title>
	 <img src="/images/E-2.png" width = "150px" height = auto id="logo">


	<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
	<%- partial('partials/navbar') -%>
	
	<% if(typeof currentUser !== 'undefined' && currentUser !== null) { %>
	<br>
	<p>Hey <%= currentUser.username %>! </p>
	<% } %>
	<br>
	<section class="container" background="green">
		<%- body -%>
	</section>
	 <footer>
      	
	  <a href="https://www.instagram.com/thegreatimpasta/?hl=en" class="insta"> Created by: TheGreatImpasta  
			</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/javascripts/index.js"></script>
</body>
</html>