body {
  padding: 25px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #A1DED0;
}

a {
  color: #A1DED0;
}

ul li {
    display: inline;
    margin: 0 auto;

 
}

.navbar {
	display: block;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: white;
	

}

#logo {
	margin: 0 auto;
	display: block;
}

.bbq {
	background-color: brown;
}

.chinese {
	background-color: red;
	color: yellow;
	background-image: url('/img/chinese.png');
}

.mexican {
	background-color: green;
	color: red;
}

.southern {
	background-color: blue;
	color: white;
}

.cuban {
	background-color: red;
	color: blue;
}




